.circle {
    border-radius: 50%;
    position: absolute;
    width: 40px;
    height: 40px;
    background: black;
}

.container {
    // position: relative;
}

mat-form-field, input {
    min-width: 4em;
    width: 4em;
    max-height: 4em;
}