<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="assets/img/pkdd-logo.png">
</div> -->

<div class="vertical-flex">
  <pkdd-top-menu *ngIf="menu.isDisplayed"></pkdd-top-menu>
  <div class="horizontal-flex">
    <pkdd-side-menu *ngIf="menu.isDisplayed" class="pc-side-menu"></pkdd-side-menu>
    <mat-sidenav-container *ngIf="menu.isDisplayed">
      <mat-sidenav class="mobile-side-menu">
        <pkdd-side-menu ></pkdd-side-menu>
      </mat-sidenav>
      <mat-sidenav-content>
        <div>
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
