<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="~/css/base.css">
    <link type="text/css" rel="stylesheet" href="~/css/checkbox.css">
</head>

<body>
    <div class="page-wrapper">
        <section class="login-window flex-container">
            <div class="login-art">
                <img class="logo" src="~/img/logo.png" alt="logo">
                <br> Инструмент, обеспечивающий эффективное взаимодействие технологов и экспертов.
            </div>
            @RenderBody()
        </section>
        <footer>
            &copy XTool, 2018
            <br> Website by Batin & Solovev
            <br> sergey.soloviev@inbox.ru
            <br>
        </footer>

    </div>
    <script src="~/scripts/mobile.js"></script>
</body>

</html>