<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="~/css/base.css">
    <link type="text/css" rel="stylesheet" href="~/css/search.css">
    <link type="text/css" rel="stylesheet" href="~/css/checkbox.css">
    <link type="text/css" rel="stylesheet" href="~/css/loading.css">
    <link type="text/css" rel="stylesheet" href="~/css/search.css">
</head>

<body>
    <div class="page-wrapper">
        <header>
            <nav class="top-menu flex-container">
                    <div class="menu-item">
                        <a class="button" href="@Url.Action("Actors", "Home")"> Хоум </a>
                    </div>
                    <div class="menu-item">
                        <a class="button" href="@Url.Action("Users", "Admin")"> Юзеры </a>
                    </div>
                    <div class="menu-item">
                        <a class="button" href="@Url.Action("Logout", "Authorization")"> Выйти </a>
                    </div>
            </nav>

            @*<div class="menu">

            </div>*@
            <div class="progress-bar" style="width: 0">
            </div>
        </header>

        @RenderBody()

        <footer>
            &copy XTool, 2018
            <br> Website by Batin & Solovev
            <br> sergey.soloviev@inbox.ru
            <br>
        </footer>

    </div>

    <!-- Scripts -->

    <script src="~/scripts/mobile.js"></script>
    
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="~/scripts/ajax/progress-bar.js"></script>

    <script src="~/scripts/hider.js"></script>
    <script src="~/scripts/graph.js"></script>
    <script src="~/scripts/textarea.js"></script>
    <script src="~/scripts/photo.js"></script>

    <!-- Ajax -->

    <script src="~/scripts/ajax/base.js"></script>
    <script src="~/scripts/ajax/create-actor.js"></script>
    <script src="~/scripts/ajax/create-user.js"></script>
    <script src="~/scripts/ajax/ban.js"></script>
    <script src="~/scripts/ajax/confirm.js"></script>
    <script src="~/scripts/ajax/graph.js"></script>
</body>
</html>
