/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    min-width: 320px;
    min-height: 500px;
    font-family: Helvetica, Arial, sans-serif;
    background: lightgray;
}

@media(max-width: 900px) {
    font-size: 11px;
}

a {
    color: black;
    text-decoration: none;

}

.flex-splitter {
    flex: 1 0 auto;
}