mat-card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.flex-space {
    flex: 1 1 auto;
}

mat-icon {
    vertical-align: middle;
}

.text-block {
    margin: 5px;
    margin-bottom: 15px;
    font-size: 15px;
}





// .not-confirmed {
//     -webkit-box-shadow: 0px 0px 77px -5px rgba(196, 12, 48, 0.94);
//     -moz-box-shadow: 0px 0px 77px -5px rgba(196, 12, 48, 0.94);
//     box-shadow: 0px 0px 77px -5px rgba(196, 12, 48, 0.94);
// }