<mat-card [class.not-confirmed]="!user.isConfirmed" [style.background]="user | userColor">
  <mat-card-title>
    {{user.name}}
  </mat-card-title>
  <div class="text-block">
    <mat-icon>email</mat-icon> {{user.email}}
  </div>
  <div class="flex-space"></div>
  <div class="chips-wrapper">
    <mat-chip-list [multiple]="true" [disabled]="user.isBaseUser">
      <mat-chip [color]="'warn'" [selected]="isInRole('admin')" (click)="addOrRemoveRole('admin')">
        Админ
      </mat-chip>
      <mat-chip [color]="'accent'" [selected]="isInRole('tech')" (click)="addOrRemoveRole('tech')">
        Технолог
      </mat-chip>
      <mat-chip [color]="'primary'" [selected]="isInRole('expert')" (click)="addOrRemoveRole('expert')">
        Эксперт
      </mat-chip>
    </mat-chip-list>
  </div>
  <mat-card-actions>
    <button mat-icon-button [disabled]="user.isBaseUser" [matTooltip]="user.isBanned ? 'Разбанить' : 'Забанить'"
      (click)="ToggleBanned()">
      <mat-icon>
        {{user.isBanned ? 'thumb_up_alt' : 'thumb_down_alt'}}
      </mat-icon>
    </button>
    <button mat-icon-button [disabled]="user.isBaseUser" matTooltip="Удалить" (click)="delete()">
      <mat-icon>
        delete_forever
      </mat-icon>
    </button>
    <button mat-icon-button [disabled]="user.isConfirmed || user?.isBaseUser" matTooltip="Подтвердить"
      (click)="confirm()">
      <mat-icon>
        verified_user
      </mat-icon>
    </button>
  </mat-card-actions>
</mat-card>