.wrapper {
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 50px;
}

img, mat-icon {
    height: 20px;
    width: 20px;
    margin: auto 7px;
}

.name {
    margin: auto 8px;
}

.button {
    min-width: 10px;
    width: auto;
}

.icon-only {
    padding: 0;
    max-width: 60px;
}