<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-icon>person_add</mat-icon> &nbsp;
    Создание пользователя
  </mat-expansion-panel-header>
  <mat-form-field>
    <input matInput type="text" placeholder="ФИО" required [(ngModel)]="user.name">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="E-mail" required [(ngModel)]="user.email">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" placeholder="Пароль" required [(ngModel)]="user.password">
  </mat-form-field>
  <mat-chip-list [multiple]="true">
    <mat-chip [color]="'warn'" [selected]="isInRole('admin')" (click)="onRoleAction('admin')">
      {{ 'admin' | role }}
    </mat-chip>
    <mat-chip [color]="'accent'" [selected]="isInRole('tech')" (click)="onRoleAction('tech')">
      {{ 'tech' | role }}
    </mat-chip>
    <mat-chip [color]="'primary'" [selected]="isInRole('expert')" (click)="onRoleAction('expert')">
      {{ 'expert' | role }}
    </mat-chip>
  </mat-chip-list>
  <mat-card-actions>
    <button mat-button (click)="onAdd()">
      <mat-icon>add</mat-icon> Создать
    </button>
  </mat-card-actions>
</mat-expansion-panel>