:host {
    display: flex;
    // padding: 20px;
    overflow-y: auto;
    justify-content: center;
    height: 100%;
    .wrapper {
        // max-width: 800px;
        display: flex;
        flex-direction: column;
        img {
            // display: block;
            width: 100%;
        }
        button {
            margin: 10px 10px 10px 0;
        }
    }

    background: black;
}
