<!-- <div class="wrapper">

  <h1>ПКДД</h1>
  <h2>Программный комплекс дистантной диагностики</h2>
  <p *ngIf="!user">
    <a routerLink="/auth/"><button mat-raised-button>Авторизация</button></a>
    <a routerLink="/auth/sign-up"><button mat-raised-button>Регистрация</button></a>
  </p>
  <p *ngIf="user">
    <a routerLink="/persons"><button mat-raised-button>
        Перейти к списку персон
      </button></a>
  </p>
  <p>

    ПКДД (программный комплекс дистантной диагностики) – инструмент специализированной сетевой экспертизы. В данный
    момент
    в
    рамках ПКДД реализован алгоритм дистантной диагностики в рамках политической профессиологии, методологии,
    сформулированной в РАНХиГС.
  </p>
  <h2>Политическая профессиология</h2>
  <p>

    Политическая профессиология – методология, предполагающая сопоставление личностных качеств человека и его
    потенциальных
    компетенций на посту государственного управления. Таким образом, в рамках этой парадигмы, инструмент ПКДД позволяет
    оценивать экспертным методом личностные качества и, в дальнейшем, делать из них выводы относительно потенциальных
    компетенций изучаемой персоны.
  </p>
  <h2>Разграничение прав доступа</h2>
  <p>

    Инструмент реализован в виде многопользовательского и мультиролевого веб-приложения на базе фреймворка AngularJS,
    размещённого по адресу <a href="http://пкдд.рф">пкдд.рф</a> в сети Интернет. Доступ к инструменту открыт для
    зарегистрированных
    и подтверждённых изнутри приложения пользователей. Среди пользователей собственно есть разделение на три роли –
    эксперт, аналитик
    (технолог) и администратор.
  </p>
  <p>

    В компетенции старших двух ролей – технолога и администратора – входит проверка регистрации пользователей, а также
    работа собственно с алгоритмами сетевой экспертизы, в то время как эксперты имеют доступ лишь к материалам и
    интерфейсам
    сбора экспертных оценок.
  </p>
  <h2>Алгоритм работы</h2>
  <p>
    Алгоритм работы в рамках ПКДД заключается в следующем:
  </p>
  <ol>

    <li> Технолог создаёт и наполняет профиль политического актора, которого необходимо оценить</li>
    <li> Эксперты, увидев после опубликования актора его профиль, приступают к оценке по
      внедрённым в комплекс системам – интуитивному тесту психологического профиля, цветовому тесту и тесту
      физиогномических шаблонов</li>
    <li> После сбора данных от экспертов, оператор-технолог анализирует полученные результаты, сведённые в общие
      графические
      представления в рамках представленных интерфейсов</li>
    <li> Итоговым результатом деятельности комплекса является аналитическое заключение технолога с характеристикой
      оценивавшегося актора, написанное по результатам экспертной оценки.</li>
    Главными преимуществами ПКДД являются возможность участия распределённой сети экспертов в процедуре оценки,
    независимость системы от временных рамок.
  </ol>
  <h2>Перспективы развития ПКДД</h2>
  <p>

    Среди перспектив развития комплекса – внедрение алгоритма экспертной системы, которая позволила бы автоматизировать
    процесс анализа данных сводных оценок и создание модулей для других методологий, требующих участие экспертных
    оценок.
    Авторами проекта выступают студенты МГТУ им. Баумана из социально-аналитической лаборатории SDAL.
  </p>
</div> -->
<div class="wrapper">
  <div>
    <img src="/assets/slides/slide1.jpg" alt="">
  </div>
  <div>
    <img src="/assets/slides/slide2.jpg" alt="">
  </div>
  <div>
    <img src="/assets/slides/slide3.jpg" alt="">
  </div>
  <div>
    <img src="/assets/slides/slide4.jpg" alt="">
  </div>
  <div>
    <img src="/assets/slides/slide5.jpg" alt="">
  </div>
  <div>
    <img src="/assets/slides/slide6.jpg" alt="">
  </div>
  <div>
    <img src="/assets/slides/slide7.jpg" alt="">
  </div>
  <div>
    <img src="/assets/slides/slide8.jpg" alt="">
  </div>
  <div>
    <img src="/assets/slides/slide9.jpg" alt="">
  </div>
  <div>
    <img src="/assets/slides/slide10.jpg" alt="">
  </div>
  <div>
    <img src="/assets/slides/slide11.jpg" alt="">
  </div>
  <div>
    <img src="/assets/slides/slide12.jpg" alt="">
  </div>
</div>