:host {
    display: flex;
    overflow-y: auto;
    justify-content: center;
    height: 100%;
    .wrapper {
        max-width: 1500px;
        display: flex;
        flex-direction: column;
        div.slide {
            background: white;
            img {
                width: 100%;
                margin-bottom: 5vh;
            }
            img:last-child {
                margin: 0;
            }
        }
        .actions {
            padding: 20px;
        }
        button {
            margin: 10px 10px 10px 0;
        }
    }

    background: yellow;
}
