:host {
    display: flex;
    overflow-y: auto;
    justify-content: center;
    height: 100%;
    .wrapper {
        max-width: 1500px;
        display: flex;
        flex-direction: column;
        .slide {
            background: white;
            padding-bottom: 5vh;
            img {
                width: 100%;
            }
        }
        .slide:last-child {
            background: yellow;
            padding: 0;
        }
        .actions {
            padding: 20px;
        }
        button {
            margin: 10px 10px 10px 0;
        }
    }

    background: yellow;
}
