<div class="person-wrapper" *ngIf="person">

  <div class="base-info">
    <mat-form-field [style.fontSize]="window.currentDeviceType == 'pc' ? '2em' : '1.5em'" class="person-name">
      <input matInput [(ngModel)]="person.name" placeholder="Фамилия Имя Отчество">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="person.position" placeholder="Должность">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="person.photoUrl" placeholder="Ссылка на фото">
    </mat-form-field>
    <img [src]="person.photoUrl" class="person-photo">
    <mat-form-field class="narrow">
      <mat-label>Дата рождения</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="person.birthday">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    </mat-form-field>
    <mat-datepicker #picker></mat-datepicker>
    <!-- <div class="checkbox">
      <mat-checkbox [(ngModel)]="person.isPublished">
        Опубликован?
      </mat-checkbox>
    </div> -->
    <mat-label>Пол</mat-label>
    <mat-button-toggle-group class="narrow" [(ngModel)]="person.sex">
      <mat-button-toggle value="male">
        Мужской
      </mat-button-toggle>
      <mat-button-toggle value="female">
        Женский
      </mat-button-toggle>
    </mat-button-toggle-group>
    <!-- <mat-radio-group class="radio-group">
      <mat-radio-button value="male" [checked]="person.sex === male" (click)="setValue(male)">Мужской</mat-radio-button>
      <mat-radio-button value="female" [checked]="person.sex === female" (click)="setValue(female)">Женский</mat-radio-button>
    </mat-radio-group> -->
    <button mat-raised-button (click)="savePerson()">
      <mat-icon>save</mat-icon> Сохранить
    </button>
  </div>

  <pkdd-content-block *ngFor="let block of contentBlocks" [contentBlock]="block" [edit]="true">

  </pkdd-content-block>
  <pkdd-add-card (click)="onBlockAdd()"></pkdd-add-card>

</div>