.person-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.base-info, pkdd-add-card, pkdd-content-block {
    margin: 15px;
    width: 95%;
    max-width: 800px;
}


mat-card-title {
    display: flex;
    justify-content: center;
}