.person-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
}

.base-info,
pkdd-add-card,
pkdd-content-block {
  // margin: 15px;
  // width: 95%;
  width: 100%;
  padding: 15px;
  max-width: 800px;
}

.base-info {
  display: flex;
  flex-direction: column;
}

.person-name {
  font-size: 2em;
}

.person-photo {
  width: 100%;
  margin-top: -15px;
  margin-bottom: 15px;
}

.narrow {
  align-self: flex-start;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}