.person-wrapper {
    display: flex;
    flex-direction: column;
    // background: white;
    max-width: 800px;
    padding-bottom: 33vh;
    margin: auto;
}

pkdd-add-card {
    margin: 10px;
}

.base-info {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.person-name {
    font-size: 2em;
}

.person-photo {
    align-self: flex-start;
    max-height: 400px;
    margin-top: -15px;
    margin-bottom: 15px;
}

.narrow {
    align-self: flex-start;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    button {
        margin: 10px;
    }
}