<div class="person-wrapper" *ngIf="person">

  <div class="base-info">
    <mat-form-field [style.fontSize]="window.currentDeviceType == 'pc' ? '2em' : '1.5em'" class="person-name">
      <input matInput [(ngModel)]="person.name" placeholder="Фамилия Имя Отчество">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="person.position" placeholder="Должность или род деятельности">
    </mat-form-field>
    <mat-form-field>
      <mat-label>
        Ссылка на основное фото
      </mat-label>
      <input matInput [(ngModel)]="person.photoUrl" placeholder="Вставьте ссылку сюда...">
    </mat-form-field>
    <img [src]="person.photoUrl" class="person-photo">
    <mat-form-field class="narrow">
      <mat-label>Дата рождения</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="person.birthday">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    </mat-form-field>
    <mat-datepicker #picker></mat-datepicker>
    <mat-label>Пол</mat-label>
    <mat-button-toggle-group class="narrow" [(ngModel)]="person.sex">

      <!-- TODO: Implement string enum values -->

      <mat-button-toggle value="Male">
        Мужской
      </mat-button-toggle>
      <mat-button-toggle value="Female">
        Женский
      </mat-button-toggle>
    </mat-button-toggle-group>

    <!-- <button mat-raised-button (click)="savePerson()">
      <mat-icon>save</mat-icon> Сохранить
    </button> -->

  </div>

  <pkdd-content-block *ngFor="let block of contentBlocks" [contentBlock]="block" [edit]="true">
  </pkdd-content-block>
  <pkdd-add-card (click)="onBlockAdd()" class="add-block" [text]="'Добавить новый раздел'"></pkdd-add-card>
  <div class="buttons">

    <button *ngIf="person.isPublished" mat-button (click)="togglePublished()">
      <mat-icon>undo
      </mat-icon> Unpublish
    </button>
    <button mat-button (click)="saveAll()">
      <mat-icon>save</mat-icon> Сохранить
    </button>
    <button *ngIf="!person.isPublished" mat-raised-button (click)="togglePublished()">
      <mat-icon>send</mat-icon> Опубликовать
    </button>
  </div>
  <div class="buttons">
    <!-- <button mat-button (click)="copy()">
      <mat-icon>copy</mat-icon> Копировать
    </button> -->
    <button mat-button (click)="delete()">
      <mat-icon>delete_forever</mat-icon> Удалить
    </button>
  </div>
</div>