@{
    Layout = "_AuthLayout";
}


    <div class="login">
        <h2>Вход</h2>
        <form class="login-form" action="Login" method="post">
            <div>Email или номер телефона</div>
            <input type="email" name="Email" required>
            <div>Пароль<a class="login-forgot" href="@Url.Action("Forgot")">Забыли?</a></div>
            <input type="password" name="Password" required>
            <div>
                <input class="checkbox" id="remember" type="checkbox" name="Remember" value="true">
                <label for="remember">Запомнить</label>
                <input class="login-submit" type="submit" value="Войти">
                <div class="clear"></div>
            </div>
        </form>
        <div class="login-links">
            <a class="login-register" href="@Url.Action("Register")">
                Регистрация
            </a>
            <a class="login-info" href="@Url.Action()">
                Информация
            </a>
        </div>
    </div>

