@{
    Layout = "_AuthLayout";
}

<div class="login">
    <h2>Результат запроса</h2>
    <div>
        @ViewBag.Message
    </div>
    <div class="login-links">
        <a class="login-login" href="@Url.Action("Login")">
            Вход
        </a>
        <a class="login-info" href="@Url.Action()">
            Информация
        </a>
    </div>
</div>