mat-card-footer > span {
    margin: 2px;
    font-weight: 300;
    font-size: 10px;
}

mat-card-footer {
    padding: 12px;
}

.footer-data {
    font-weight: 700 !important;
    text-decoration: underline;
}