<mat-toolbar>
  <span class="left-item">
    <a *ngIf="win.currentDeviceType === 'pc' || !menu.sideMenuItems.length" routerLink="/">
      <img src="assets/img/pkdd-logo.png" [class.not-pc]="win.currentDeviceType !== 'pc'">
    </a>
    <button *ngIf="win.currentDeviceType !== 'pc' && menu.sideMenuItems.length" mat-button (click)="menu.sideMenuOpened = !menu.sideMenuOpened">
      <mat-icon *ngIf="win.currentDeviceType !== 'pc' && !menu.sideMenuOpened && menu.sideMenuItems.length">menu</mat-icon>
      <mat-icon *ngIf="win.currentDeviceType !== 'pc' && menu.sideMenuOpened && menu.sideMenuItems.length">close</mat-icon>
    </button>
  </span>

  <div class="other-items">
    <pkdd-menu-item *ngFor="let item of menu.topMenuItems" [menuItem]="item" [mode]="win.currentDeviceType"></pkdd-menu-item>
  </div>
</mat-toolbar>