<div class="wrapper" *ngIf="content">
  <ng-container *ngIf="!edit && content.content?.length === 1">
    <img class="one-photo" [src]="content.content[0].url">
    <div class="description">{{content.content[0].description}}</div>
  </ng-container>
  <mdb-carousel *ngIf="!edit && content.content?.length > 1" [isControls]="true" [animation]="'slide'">
    <mdb-carousel-item *ngFor="let photo of content.content">
      <div class="carousel-content" [style.backgroundImage]="'url(' + photo.url + ')'">
        {{photo.description}}
      </div>
    </mdb-carousel-item>
  </mdb-carousel>

  <ng-container *ngIf="edit" class="photo-creation">
    <div class="photo-grid">
      <div (click)="onSelect(photo)" *ngFor="let photo of content.content" class="photo-grid-item"
        [style.backgroundImage]="'url(' +  photo.url + ')'" [class.selected]="photo === selectedPhoto">
        <div class="photo-header">
          <pkdd-hover-pulse (click)="onDelete(photo)">
            <mat-icon>clear</mat-icon>
          </pkdd-hover-pulse>
          <div class="photo-header-description">{{photo.description | truncate : 75 : true }}</div>
        </div>
      </div>
      <pkdd-add-card (click)="onAdd()" class="photo-grid-item" [text]="'Добавить фото'">
      </pkdd-add-card>
    </div>
    <ng-container *ngIf="selectedPhoto">
      <mat-form-field>
        <mat-label>Ссылка на фото</mat-label>
        <input type="url" matInput placeholder="Вставьте ссылку сюда..." [(ngModel)]="selectedPhoto.url">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Описание" [(ngModel)]="selectedPhoto.description">
      </mat-form-field>
      <img class="photo" src="{{selectedPhoto.url}}" alt="Нет выбранной фотографии">
    </ng-container>
  </ng-container>
</div>