.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.photo-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.photo-grid-item {
    background-image: url(https://ucarecdn.com/2c4f81e4-d18c-4aec-aa63-3994c554f1ea/);
    flex: 0 0 33%;
    min-width: 110px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; // filter: grayscale(50%);
    filter: opacity(50%);
    transition: .3s;
}

.photo-grid-item:hover {
    filter: opacity(75%)
}

.photo-header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0) 100%);
    padding-bottom: 20px;
}

.photo-header-description {
    overflow-wrap: break-word;
    padding: 5px;
    font-size: 0.8em;
    flex: 1 1 100%;
}

.selected {
    filter: none !important;
}

.photo {
    width: 100%;
}

mdb-carousel {
    height: 60vh; // max-height: 600px;
}

mdb-carousel-item {
    // height: 100%;
    background: lightgray;
}

.carousel-content {
    height: 50vh;
    max-height: 600px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    color: white;
    padding: 20px;
}

.description {
    padding: 10px;
    text-align: center;
    font-size: .9em;
}