  .wrapper {
      display: flex;
      flex-direction: row;
      justify-content: stretch;
  }

  .content {
      flex: 1 1 100%;
      display: flex;
      flex-direction: column;
  }

  .column {
      display: flex;
      min-width: 10px;
      flex-direction: column;
      align-items: center;
      margin-right: 10px;
  }

  .vertical-line {
    flex: 1 1 100%;
    max-width: 3px;
    width: 3px;
    background: rgba(0, 0, 0, 0.1);
  }

  .title-input,
  .subtitle-input {
      width: 80%;
  }

  .subtitle,
  .subtitle-input {
      color: #494949;
  }

  mat-select {
      margin: 3px;
  }