<div class="wrapper">
  <div class="column" *ngIf="!isLevelLessOrEqual(2) && edit">
    <pkdd-hover-pulse (click)="onBlockDelete()">
      <mat-icon>clear</mat-icon>
    </pkdd-hover-pulse>
    <ng-container [ngSwitch]="contentBlock.type">
      <mat-icon *ngSwitchCase="0">inbox</mat-icon>
      <mat-icon *ngSwitchCase="1">text_fields</mat-icon>
      <mat-icon *ngSwitchCase="2">date_range</mat-icon>
      <mat-icon *ngSwitchCase="3">filter</mat-icon>
      <mat-icon *ngSwitchCase="4">movie</mat-icon>
    </ng-container>
    <div class="vertical-line"></div>
  </div>
  <div class="content">

    <header *ngIf="needDrawHeader">
      <!-- <div class="title" [ngStyle]="{'font-size.px': countFontSize()}"> -->
      <mat-form-field [floatLabel]="'never'" [style.fontSize]=" (1 + 2 / level) + 'em'" class="title-input" *ngIf="edit">
        <input matInput [(ngModel)]="contentBlock.title" placeholder="Заголовок">
      </mat-form-field>
      <!-- </div> -->
      <!-- <div class="subtitle" [ngStyle]="{'font-size.px': countFontSize(true)}">
        <mat-form-field class="subtitle-input">
          <input matInput [(ngModel)]="contentBlock.subtitle" placeholder="Подзаголовок">
        </mat-form-field>
      </div> -->
      <div *ngIf="!edit">
        <div class="title" *ngIf="contentBlock.title !== ''" [ngStyle]="{'font-size.px': countFontSize()}">
          {{contentBlock.title}}
        </div>
        <!-- <div class="subtitle" *ngIf="contentBlock.subtitle !== ''" [ngStyle]="{'font-size.px': countFontSize(true)}">
          {{contentBlock.subtitle}}
        </div> -->
      </div>
    </header>

    <section>
      <div *ngIf="isContainer">
        <pkdd-content-block *ngFor="let block of contentBlock.subBlocks" [contentBlock]="block" [edit]="edit"></pkdd-content-block>
      </div>
      <div *ngIf="!isContainer">
        <pkdd-content [edit]="edit" [type]="contentBlock.type" [content]="contentBlock.content"> </pkdd-content>
      </div>
      <div class="actions" *ngIf="edit">
        <pkdd-hover-pulse *ngIf="isContainer && level <= 3" mat-icon-button [matMenuTriggerFor]="appMenu">
          <mat-icon>add</mat-icon>
        </pkdd-hover-pulse>
        <ng-container *ngIf="level <= 2">
          <button mat-icon-button (click)="onBlockSave()">
            <mat-icon>save</mat-icon>
          </button>
          <button mat-icon-button (click)="onBlockDelete()">
            <mat-icon>delete_forever</mat-icon>
          </button>
        </ng-container>
        <mat-menu #appMenu="matMenu">
          <button mat-menu-item (click)="onBlockAdd('text')">
            <mat-icon>text_fields</mat-icon>Текст
          </button>
          <button mat-menu-item (click)="onBlockAdd('dateText')">
            <mat-icon>date_range</mat-icon>Событие
          </button>
          <button mat-menu-item (click)="onBlockAdd('photo')">
            <mat-icon>filter</mat-icon>Фото
          </button>
          <button mat-menu-item (click)="onBlockAdd('video')">
            <mat-icon>movie</mat-icon>Видео
          </button>
          <button *ngIf="level <= 2" mat-menu-item (click)="onBlockAdd('container')">
            <mat-icon>inbox</mat-icon>Контейнер
          </button>
          <!-- <button mat-menu-item (click)="onBlockAdd('public')"><mat-icon></mat-icon>Публикация</button> -->
        </mat-menu>
      </div>
    </section>
  </div>

</div>