.wrapper {
  border: 7px solid rgb(255, 255, 0);
}

mat-card {
  border: 1px solid yellow;
  margin: 3px;
  padding: 0;
}

header {
  padding: 12px;
  background: rgb(255, 255, 90);
}

section {
  padding: 24px;
}

.title-input,
.subtitle-input,
mat-select {
  max-width: 400px;
}

.subtitle, .subtitle-input {
  color: #494949;
}

mat-select {
  margin: 3px;
}
