<div class="wrapper">
  <h1>Тест MMPI</h1>
  Внимательно изучите <a routerLink="..">информацию о персоне</a>. Примените полученные знания для определения значений
  каждой из 10 шкал MMPI.
  <div class="columns-container">
    <pkdd-chart [config]="chartConfig"></pkdd-chart>

    <!-- TODO: Implement input via usual text fields -->

    <!-- <mat-expansion-panel>
    <mat-expansion-panel-header>
        Ввести с помощью обычных числовых полей.
    </mat-expansion-panel-header>
    <div *ngFor="let scale of scales">
      <span>{{scale.name}} </span><input [placeholder]="scale.name" [value]="scale.value">
    </div>
  </mat-expansion-panel> -->

    <button mat-raised-button (click)="onSave()">
      Сохранить результаты
    </button>
  </div>
</div>