.wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 15px;
}

.columns-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: stretch;
}

pkdd-chart {
    min-height: 400px;
    margin: 10px 0;
}

.fields-group {
    display: flex;
    flex-direction: column;
}

button.save {
    margin-top: 20px;
}