<div class="vertical-flex">
  <pkdd-top-menu></pkdd-top-menu>
  <pkdd-progress-bar [style.height]="window.currentSize.height / 500 + 0.5 + 'px'"></pkdd-progress-bar>
  <div class="horizontal-flex">
    <pkdd-side-menu *ngIf="menu.sideMenuItems?.length && window.currentDeviceType === 'pc'" class="pc-side-menu"></pkdd-side-menu>
    <mat-sidenav-container>
      <mat-sidenav *ngIf="menu.sideMenuItems?.length && window.currentDeviceType !== 'pc'" class="mobile-side-menu"
        [opened]="menu.sideMenuOpened" disableClose>
        <pkdd-side-menu></pkdd-side-menu>
      </mat-sidenav>
      <mat-sidenav-content>
        <div>
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>