:host {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.wrapper.horizontal {
    flex-direction: row !important;
}

pkdd-chart {
    height: 100vh;
    max-height: 700px;
    margin: 10px 0;
}

pkdd-plot-item {
    margin: 15px 15px 15px 0;
}

pkdd-plot-create {
    margin-top: 20px;
}

.plots-list {
    display: flex;
    flex-wrap: wrap;
}