<p *ngIf="!emitter?.results?.length">
  Ни один эксперт ещё не успел оценить эту персону. При появлении оценок график будет обновляться автоматически.
</p>
<pkdd-chart [config]="chartConfig"></pkdd-chart>
<div class="plots-list" *ngIf="plots?.plots?.length">

  <pkdd-plot-item *ngFor="let plot of plots.plots" [plot]="plot" (deleted)="onPlotDeleted(plot)"></pkdd-plot-item>
</div>
<p *ngIf="!plots?.plots?.length">
  Для отображения оценки, создайте хотя бы один график.
</p>
<pkdd-plot-create [emitter]="emitter" (created)="onPlotCreated($event)"></pkdd-plot-create>