.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-form-field {
    display: block;
}

.password-field {
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 60px;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row.bottom {
    margin-top: 50px;
}