<div class="wrapper">
  <h1>
    Вход
  </h1>
  <div *ngIf="error && error.length" class="error">{{error}}</div>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput type="email" [(ngModel)]="email">
    <mat-error>ошибка</mat-error>
  </mat-form-field>
  <mat-form-field class="password-field">
    <mat-label>Пароль</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" placeholder="somepassword" [(ngModel)]="password" (keydown)="onPasswordKeydown($event)">
    <mat-icon class="suffix" matSuffix (click)="hide = !hide" matTooltip="{{hide ? 'показать пароль' : 'скрыть пароль'}}">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    <mat-hint [align]="'start'"><a routerLink="/auth/restore">Забыли?</a></mat-hint>
  </mat-form-field>
  <div class="row">
    <mat-checkbox [(ngModel)]="remember">Запомнить меня</mat-checkbox>
    <!-- TODO: set disabled cases for button -->
    <button mat-raised-button (click)="signIn()" >Войти</button>
  </div>
  <div class="flex-splitter"></div>
  <div class="row bottom">
      <a routerLink="/auth/sign-up"><button mat-button>Регистрация</button></a>
    <button mat-button>Информация</button>
  </div>
</div>