.checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
    
  }
  .checkbox + label {
    position: relative;
    padding: 0 0 0 60px;
    cursor: pointer;
  }
  .checkbox + label:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    width: 50px;
    height: 26px;
    border-radius: 13px;
    background: #cdd1da;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
    transition: .2s;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
    
  }
  .checkbox + label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 22px;
    height: 22px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    transition: .2s;
  }
  .checkbox:checked + label:before {
    background: rgb(160, 240, 240);
    box-shadow: inset 0 2px 3px rgba(0,0,0,.2) ;
  }
  .checkbox:checked + label:after {
    left: 26px;
  }