<mat-card [style.backgroundImage]="backgroundImage">
  <!-- <div class="wrapper" [style.backgroundImage]="backgroundImage"> -->

  <mat-card-title>
    {{person.name | truncate : 70 : true}}
    <span *ngIf="!person.isPublished" style="color: red;">(Не опубликован)</span>
  </mat-card-title>
  <!-- <mat-card-content>
  </mat-card-content> -->
  <div class="flex-splitter"></div>
  <mat-card-actions>
    <div class="action">
      <a matTooltip="Перейти в профиль персоны для просмотра информации" [routerLink]="'/persons/' + person.id">
        <mat-icon>info_outlined</mat-icon>
      </a>
    </div>
    <div class="action">
      <a *pkddForRoles="'expert'" matTooltip="Перейти к оценке персоны"
        [routerLink]="'/persons/' + person.id + '/mmpi'">
        <mat-icon>assessment</mat-icon>
      </a>
    </div>
    <div class="action">
      <a *pkddForRoles="'tech'" matTooltip="Перейти к просмотру результатов оценки персоны экспертами"
        [routerLink]="'/persons/' + person.id + '/results'" [matBadge]="person.resultsCount"
        [matBadgeHidden]="!person.resultsCount">
        <mat-icon>assignment_turned_in</mat-icon>
      </a>
    </div>
    <div class="action">
      <a *pkddForRoles="'tech'" matTooltip="Перейти в интерфейс редактирования профиля персоны"
        [routerLink]="'/persons/' + person.id + '/edit'">
        <mat-icon>edit</mat-icon>
      </a>
    </div>
    <!-- <div class="action">
      <div (click)="onDelete()" class="action" *pkddForRoles="'tech'" matTooltip="Удалить персону из системы">
        <mat-icon>delete_forever</mat-icon>
      </div>
    </div> -->
  </mat-card-actions>
</mat-card>
<!-- </div> -->

<!-- <div>{{person.bir}}</div> -->