<mat-card>
  <div class="info">
    {{ person.timeTrack.created | date : 'dd.MM.yy HH:mm' }}
    <div class="flex-splitter"></div>
    <mat-icon [inline]="true" #views>visibility</mat-icon> &nbsp; {{ person.views }}
  </div>

  <div class="flex-splitter photo-bg" [style.backgroundImage]="backgroundImage">
    <h2 class="title">
      {{person.name | truncate : 70 : true}}
      <span *ngIf="!person.isPublished" style="color: red;">(Не опубликован)</span>
    </h2>
  </div>
  <div class="actions">
    <a matTooltip="Перейти в профиль персоны для просмотра информации" [routerLink]="'/persons/' + person.id"
      class="action">
      <button mat-icon-button>
        <mat-icon>info_outlined</mat-icon>
      </button>
    </a>
    <a *pkddForRoles="'expert'" matTooltip="Перейти к оценке персоны" class="action"
      [routerLink]="'/persons/' + person.id + '/mmpi'">
      <button mat-icon-button>
        <mat-icon>assessment</mat-icon>
      </button>
    </a>
    <a *pkddForRoles="'tech'" matTooltip="Перейти к просмотру результатов оценки персоны экспертами" class="action"
      [routerLink]="'/persons/' + person.id + '/results'">
      <button mat-icon-button>
        <mat-icon [matBadge]="person.resultsCount" [matBadgeHidden]=" !person.resultsCount ">assignment_turned_in
        </mat-icon>
      </button>
    </a>
    <a *pkddForRoles="'tech'" matTooltip="Перейти в интерфейс редактирования профиля персоны" class="action"
      [routerLink]="'/persons/' + person.id + '/edit'">
      <button mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
    </a>
    <!-- <button mat-icon-button >
      <div (click)="onDelete()"  *pkddForRoles="'tech'" matTooltip="Удалить персону из системы">
        <mat-icon>delete_forever</mat-icon>
      </div>
    </div> -->
  </div>
</mat-card>
<!-- </div> -->

<!-- <div>{{person.bir}}</div> -->