<div class="wrapper">

  <ng-container *ngIf='edit'>
    <mat-form-field>
      <mat-label>Ссылка на видео</mat-label>
      <input type="url" matInput [(ngModel)]="content.content.url" placeholder="вставьте ссылку сюда..."
        (ngModelChange)="onUrlChanged()">
      <mat-hint *ngIf="content.content.url && !isValid">Введена некорректная ссылка</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="content.content.description" placeholder="Описание">
    </mat-form-field>
  </ng-container>
  <div *ngIf="isValid" class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" [src]="url"></iframe>
  </div>
  <div class="description" *ngIf="!edit">
    {{content.content.description}}
  </div>
</div>