.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.player {
    border-bottom: 5px solid yellow;
}


.player-wrapper {
    width: 100%;
}

.description {
    padding: 10px;
    text-align: center;
    font-size: .9em;
}