.person-wrapper {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px;
}

header {
    font-size: 2em;
}

img {
    max-height: 400px;
    align-self: flex-start;
    max-width: 100%;
}

.position {
    font-size: 1.2em;
    margin-bottom: 20px;
}

a {
    button {
        margin: 0 10px 10px 0;
    }
}