<div class="person-wrapper" *ngIf="person">
  <header>
    {{person.name}}
  </header>
  <span class="position" *ngIf="person.position !== ''">
    <mat-icon>star</mat-icon> {{person.position}}
  </span>
  <span class="position" *ngIf="person.birthday">
    <mat-icon>cake</mat-icon> {{person.birthday | date : 'dd.MM.yyyy' }}
  </span>
  <div>
    <img *ngIf="person.photoUrl && person.photoUrl !== ''" [src]="person.photoUrl">
  </div>


  <!-- TODO: make something with sex -->

  <!-- <div *ngIf="person.sex">
    <span class="title">
      Пол:
    </span>
    <span class="text">
      {{person.sex | sexType}}
    </span>
  </div> -->

  <pkdd-content-block *ngFor="let block of contentBlocks" [contentBlock]="block" [edit]="false"></pkdd-content-block>
</div>