<section class="card-group">
    <div class="section-title">
        Акторы @*@((ViewBag.Actors as IEnumerable<object>).Count())
            @((ViewBag.Actors as IEnumerable<Actor>).FirstOrDefault().Id)*@
        <button class="section-hider" onclick="change_section_content_state(event)">
            скрыть
        </button>
    </div>

    <div class="clear"></div>
    <div class="section-content">
        <div class="card-title">
            Самые актуальные
        </div>
        <div class="card">
            <img class="photo" src="https://gdb.voanews.com/59E693F5-1917-4401-AEF9-07B1A8BEECB7_cx0_cy8_cw0_w1023_r1_s.jpg" alt="navalniy">
            <div class="card-content-wrapper">
                <div class="card-content">
                    ФИО:
                    <b>Навальный Алексей Анатольевич</b>
                    <br> Дата рождения:
                    <b>12.02.1976 (41 год)</b>
                    <br> Место работы и должность:
                    <b>Партия прогресса, председатель</b>
                    <br>
                </div>
                <div class="card-link" href="https://www.google.com">
                    <div class="arrow-box-wrapper">
                        <div class="arrow-box">
                            ►
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="card-content">
                <form class="search-form">
                    <div class="input-name">Поисковый запрос</div>
                    <div class="flex-container">
                        <input type="text" name="search">
                        <button>Найти</button>
                    </div>
                    <!-- <div class="selects">
                    <div class="input-name">Пол
                        <select name="sex" id="sex">
                            <option>
                                все
                            </option>
                            <option>
                                мужской
                            </option>
                            <option>женский</option>
                        </select>
                    </div>
                    <div class="input-name">Страна
                        <select name="country" id="country">
                            <option>
                                все
                            </option>
                            <option>
                                Россия
                            </option>
                            <option>США</option>
                            <option>Франция</option>
                            <option>Полинезия</option>
                        </select>
                    </div> -->

                </form>
            </div>
        </div>

        <div class="card-waiter">
            <div class="loading"></div>
        </div>
    </div>
</section>

