:host {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 800px;
}

// .text,
// textarea {
//     width: 100%;
//     min-height: 60px;
// }

.type {
    flex: 0 0 150px;
}

.topic {
    flex: auto;
}

// .topic {
//     width: 60%;
// }

// mat-card-actions {
//     display: flex;
//     justify-content: flex-end;
// }

.row-fields {
    display: flex;
}