:host {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

h1,
h2 {
    text-align: center;
}

.users-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

// pkdd-user-create 
pkdd-user-card {
    margin: 15px;
    width: 310px;
}

pkdd-user-create {
    margin: 15px;
    max-width: 500px;
}

// .user-create-wrapper {
//     width: 100%;
//     display: flex;
//     flex-direction: column;
// }