<pkdd-search (queryChange)="queryChange.next($event)"></pkdd-search>
<ng-container class="user-create-wrapper" *ngIf="query == ''">
    <pkdd-user-create (userCreated)="update()"></pkdd-user-create>
</ng-container>
<h1 *ngIf="isLoading">Загрузка списка пользователей...</h1>
<ng-container *ngFor="let category of usersCategories">
    <ng-container *ngIf="category.users.length">
        <h1>{{category.name}} ({{category.users.length}})</h1>
        <div class="users-section">
            <pkdd-user-card *ngFor="let user of category.users" [user]="user"></pkdd-user-card>
        </div>
    </ng-container>
</ng-container>