:host {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    // flex-direction: row;
    // flex-wrap: wrap;
    // justify-content: center;
}

h1 {
    text-align: center;
}

.users-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // justify-content: center;
}

pkdd-user-card,
pkdd-user-create {
    margin: 15px;
    width: 310px;
}

pkdd-user-create {
    height: 330px;
}

// mat-card {
//   box-sizing: border-box;
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: 20%;
//   cursor: pointer;
// }