.colors {
    display: flex;
    justify-content: stretch;

    * {
        flex: 1 1 100%;
        // margin: 10px;

        &:hover {
            // transform: scale(1.05);
        }
    }
}

.color {
    min-height: 200px;
    height: 30vh;
    max-height: 400px;
    cursor: pointer;
}