.colors {
    display: flex;
    justify-content: stretch;

    * {
        flex: 1 1 100%;
        // margin: 10px;

        &:hover {
            // transform: scale(1.05);
        }
    }
}

.color {
    min-height: 150px;
    height: 20vh;
    max-height: 300px;
    cursor: pointer;
}