@model Photo
@{ 
    Photo photo = Model as Photo;
}
<div class="card">
    <img class="photo" src="@photo.Url">
    <div class="@if (true) {<text>with-extension </text>}card-content">
        @photo.Description;
    </div>
    <div class="card-extension">
        @photo.Comment
    </div>
</div>