<div class="wrapper" *ngIf="result">
  <h1>{{person.name}}</h1>
  <p>{{person.position}}</p>

  <h2>Цветовой тест</h2>


  <div *ngIf="result.physiognomyComplete; else test">
    <p>
      Вы уже прошли физиогномический тест. При необходимости внести изменения в результаты, удалите свою оценку и
      пройдите
      тест заново.
    </p>
    <p>
      Вы ещё не успели пройти шкалирование для этой персоны. <br><br>
      <a routerLink="../mmpi">
        <button mat-raised-button>
          <mat-icon>assessment</mat-icon>
          Перейти к Шкалированию
        </button>
      </a>
    </p>
    <p>
      Здесь вы видите результат вашей оценки физигномических качеств данной персоны. </p>
    <!-- <pkdd-tech-luscher [results]="[result]"></pkdd-tech-luscher> -->
    <div>
      <button mat-raised-button (click)="onDelete()">
        <mat-icon>delete_forever</mat-icon> Удалить оценку
      </button></div>
  </div>
  <ng-template #test>

    <!-- <p>
      Изучите <a routerLink="..">информацию о персоне</a>, а затем пройдите физиогномический тест. Вам будет предложено некоторое количество парных сравнений
      личности. Для каждой пары вам нужно выбрать цвет, наиболее подходящий данной персоне.
      <br><br>
      <a routerLink=".."><button mat-raised-button>
          <mat-icon>info_outlined</mat-icon>
          Изучить информацию
        </button></a>
      <br>
      <br>
    </p> -->
    <pkdd-physiognomy-test [person]="person" (complete)="onComplete($event)"></pkdd-physiognomy-test>
  </ng-template>
</div>